<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{model.developerId}}/website/{{model.page._website}}/page"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">{{model.page.name}} - Widgets</a>

        <a href="#/developer/{{model.developerId}}/website/{{model.page._website}}/page/{{model.pageId}}/choose-widget"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

    </div>
</nav>

<div class="container-fluid">
    <div jga-sortable jga-sortable-callback="model.sortWidget(start, end)" class="row">
        <div ng-repeat="widget in model.widgets | orderBy : 'order'"
             ng-class="widget.bootClass"
             ng-switch="widget.widgetType">
            <div class="pull-right jga-widget-list-tools">
                <a href="#/developer/{{model.developerId}}/website/{{model.page._website}}/page/{{model.page._id}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch-when="HEADER">
                <h1 ng-if="widget.header.size===1">
                    {{widget.text}}
                </h1>
                <h2 ng-if="!widget.header.size || widget.header.size===2">
                    {{widget.text}}
                </h2>
                <h3 ng-if="widget.header.size===3">
                    {{widget.text}}
                </h3>
                <h4 ng-if="widget.header.size===4">
                    {{widget.text}}
                </h4>
                <h5 ng-if="widget.header.size===5">
                    {{widget.text}}
                </h5>
                <h6 ng-if="widget.header.size===6">
                    {{widget.text}}
                </h6>
            </div>
            <div ng-switch-when="LABEL">
                <label>
                    {{widget.text}}
                </label>
            </div>
            <div ng-switch-when="HTML">
                <div ng-bind-html="model.trustAsHtml(widget.html.text)">
                </div>
            </div>
            <div ng-switch-when="REPEATER">
                <div ng-bind-html="model.trustAsHtml(widget.repeater.template)">
                </div>
            </div>
            <!-- render datatable widget sample -->
            <div ng-switch-when="DATATABLE">
                <div class="alert alert-info">
                    <p>Sort Type: {{ model.orderByField }} Sort Reverse: {{ model.reverseSort }} Search Data: {{ model.search }} Filters Saved: {{ model.filters}}</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th ng-if="widget.datatable.sortable" ng-repeat="field in widget.datatable.fields">
                            <a ng-click="model.orderByField = field; model.reverseSort = !model.reverseSort">
                                {{field}}
                                <span ng-show="model.orderByField == field && !model.reverseSort" class="fa fa-caret-down"></span>
                                <span ng-show="model.orderByField == field && model.reverseSort" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th ng-if="!widget.datatable.sortable" ng-repeat="field in widget.datatable.fields">
                            {{field}}
                        </th>
                        <th ng-if="widget.datatable.deletable || widget.datatable.filterable">
                            &nbsp;
                        </th>
                    </tr>
                    <tr ng-hide="!widget.datatable.filterable">
                        <td ng-repeat="field in widget.datatable.fields">
                            <div class="input-group">
                                <input type="text" class="form-control" autofocus placeholder="Search {{field}}" ng-model=model.search[field]>
                            </div>
                        </td>
                        <td ng-if="widget.datatable.deletable || widget.datatable.filterable">
                            <a ng-if="widget.datatable.filterable" class="pull-right">
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                            &nbsp;
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 3 sample dummy rows, just to give look and feel -->
                    <tr ng-repeat="s in model.sushi | filter:model.search | orderBy:model.orderByField:model.reverseSort">
                        <td ng-repeat="column in s">
                            {{column}}
                        </td>
                        <!-- show remove button if deletable -->
                        <td ng-if="widget.datatable.deletable || widget.datatable.filterable">
                            <a ng-if="widget.datatable.deletable" class="pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-switch-when="TEXT">
                <input ng-if="!widget.textInput.formatted && (!widget.textInput.rows || widget.textInput.rows===1)"
                       name="{{widget.name}}"
                       id="{{widget._id}}"
                       value="{{widget.text}}"
                       placeholder="{{widget.textInput.placeholder}}"
                       class="form-control"/>
                <textarea ng-if="widget.textInput.rows > 1 || widget.textInput.formatted"
                          name="{{widget.name}}"
                          rows="{{widget.textInput.rows}}"
                          id="{{widget._id}}"
                          placeholder="{{widget.textInput.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
            </div>
            <div ng-switch-when="BUTTON">
                <a class="btn btn-block" ng-class="model.getButtonClass(widget.button.style)">
                    {{widget.text}}
                </a>
            </div>
            <div ng-switch-when="LINK">
                <a ng-href="{{widget.link.url}}" target="_blank">
                    {{widget.text}}
                </a>
            </div>
            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.image.url}}" width="{{widget.image.width}}"/>
            </div>
            <div ng-switch-when="YOUTUBE" class="youtube-widget">
                <iframe ng-src="{{model.safeYouTubeUrl(widget)}}"
                        width="100%"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">

        <a href="#/developer/{{currentUser._id}}"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>

        <!-- click on RUN link to run this page -->
        <a href="#/developer/{{currentUser._id}}/website/{{model.page._website}}/page/{{model.pageId}}/run"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-play"></span>
        </a>

        <!-- pass data to server side page controller, including username -->
        <a href="/developer/{{currentUser._id}}/website/{{model.page._website}}/page/{{model.pageId}}"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </div>
</nav>