<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a href="#/developer/{{model.username}}/website/{{model.applicationId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/edit"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Script Editor</a>

        <!-- click on + to navigate to statement type choose -->
        <a href="#/developer/{{model.username}}/website/{{model.applicationId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/script/choose"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <a ng-click="model.saveScript(model.script)"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>

<input ng-model="model.script.name"
       class="form-control"
       placeholder="Script Name"/>

<div jga-sortable>
    <div ng-repeat="statement in model.script.statements">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{$index}} -
                    {{statement.title || 'Statement '+$index }}
                    <span class="glyphicon glyphicon-align-justify pull-right"></span>

                    <!-- click on cog to edit this statement -->
                    <a href="#/developer/{{model.username}}/website/{{model.applicationId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/script/statement/{{statement._id}}">
                        <span class="glyphicon glyphicon-cog pull-right jga-margin-right-5px"></span>
                    </a>

                </h3>
            </div>
            <div class="panel-body">
                {{statement}}
            </div>
        </div>

        <!-- down arrow between statements -->
        <div class="text-center">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </div>

    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>