<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Scripts</a>

        <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/script/new"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a href="#/developer/{{model.developerId}}"
           class="navbar-toggle">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>