<!-- this page houses all the statement editors
     we'll show the correct editor based on the
     type of the statement
 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/script/edit"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Statement Editor</a>

        <a ng-click="model.updateStatement()"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>


Title
<input ng-model="model.statement.title"
       ng-value="model.statement.numberStatement.output + ' = ' + model.statement.numberStatement.input1 + ' '+model.statement.numberStatement.operationType+' ' + model.statement.numberStatement.input2"
       placeholder="Statement Title"
       class="form-control"/>

<div ng-switch="model.statement.statementType">
    <div ng-switch-when="NUMBER">

        <div class="row">
            <div class="col-xs-3">
                <select ng-model="model.statement.numberStatement.output"
                        class="form-control">
                    <option value="">Select Output</option>
                    <option ng-repeat="variable in model.statement.variables">{{variable}}</option>
                </select>
                <span class="pull-right" style="position: relative;top:-35px;left:20px">=</span>
            </div>
            <div class="col-xs-3">
                <select ng-model="model.statement.numberStatement.input1"
                        class="form-control">
                    <option value="">Select Input 1</option>
                    <option ng-repeat="variable in model.statement.variables">{{variable}}</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select ng-model="model.statement.numberStatement.operationType"
                        class="form-control">
                    <option value="">Select Operation</option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="x">x</option>
                    <option value="/">/</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select ng-model="model.statement.numberStatement.input2"
                        class="form-control">
                    <option value="">Select Input 2</option>
                    <option ng-repeat="variable in model.statement.variables">{{variable}}</option>
                </select>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>