<!-- this page houses all the statement editors
     we'll show the correct editor based on the
     type of the statement
 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/script/edit"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Statement Editor</a>

        <a ng-click="model.updateStatement()"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>