<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <% include common/head-link.ejs.html %>
</head>
<body>
    <h2>Page</h2>

    <%# render data passed from the controller -%>
    <%= applicationId %> / <%= pageId %>

    <%# render page JSON from database -%>
    <% for(var i in page.widgets) {
        // calculate the name of the template to include
        // name is based on the type of the widget
        var widgetType = page.widgets[i].widgetType;
        widgetType = widgetType.toLowerCase();
        // actual widget partials are in widget folder
        var widgetTemplate = "widget/"+widgetType;
        var widget = page.widgets[i];
        var context = {
            widget: page.widgets[i],
            pageId: pageId,
            applicationId: applicationId
        }
    %>
<%# pass data to included partial template -%>
<div>
<%- include(widgetTemplate, context) -%>
</div>
    <% } %>
</body>
</html>