.jga-widget {
    margin-bottom: 5px;
}

.jga-nowrap {
    white-space:nowrap;
}

.jga-highlight-on-hover:hover {
    box-shadow: 0px 0px 1px #aaa;
}

.form-control {
    margin-bottom: 5px;
}

.btn-transparent,
.btn-transparent:hover {
    border-color: transparent;
    background-color: transparent;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active {
    background-color: transparent;
}

.navbar-brand {
    font-weight: bold;
}

.table > tbody > tr > td {
    border-top: 1px solid transparent;
}