<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a class="navbar-brand">Websites</a>

        <a href="#/developer/{{model.username}}/application/new"
                class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

    </div>
</nav>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<table class="table table-hover">
    <tr ng-repeat="application in model.applications">
        <td>
            <a href="#/developer/{{model.username}}/application/{{application._id}}/page">
                {{application.name}}
            </a>
            <a href="#/developer/{{model.username}}/application/{{application._id}}/page/{{application.pages[0]._id}}/run"
               class="pull-right">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a href="#/developer/{{model.username}}/application/edit/{{application._id}}"
               class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </td>
    </tr>
</table>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
