<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a href="#/developer/{{model.username}}/application"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Edit Website</a>

        <a href="#/developer/{{currentUser.username}}/application"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>

Application Name
<input ng-model="model.application.name"
       class="form-control"
       placeholder="Name"/>

Application Description
<textarea ng-model="model.application.description"
          rows="5"
       class="form-control"
       placeholder="Description"></textarea>

<button ng-click="model.removeApplication(model.application)"
        class="btn btn-danger btn-block">
    Delete
</button>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>

        <a href="#/developer/{{currentUser.username}}/application/{{model.applicationId}}/share"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </div>
</nav>
