<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{model.developerId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/image"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Google Search</a>

    </div>
</nav>

<div class="input-group">
    <input ng-model="text" type="text" class="form-control" placeholder="Search images">
    <span class="input-group-btn">
        <a ng-click="model.search(text)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>
<div class="row" class="margin-left: 0px !important;margin-right: 0px !important;">
    <div ng-repeat="photo in model.results" class="col-xs-4" style="padding-right: 1px;padding-left: 0px;padding-bottom: 1px;">
        <div ng-if="photo.link" class="wrapper">
            <div class="fill">
                <img ng-click="model.selectImage(photo,model.widget)"
                     ng-src={{photo.link}}
                     width="100%"/><a ng-click="model.selectImage(photo,model.widget)"><span class="cog glyphicon glyphicon-ok"></span></a>
                <a ng-click="model.addImage(photo)"><span class="add glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
        <a ng-click="model.moreImage()"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
    </div>
</nav>