<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{currentUser._id}}/website"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">{{model.website.name}} - Pages</a>

        <a href="#/website/{{model.websiteId}}/page/new"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

    </div>
</nav>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<div jga-sortable
     jga-sortable-callback="model.sortPage(start, end)">
    <div ng-repeat="page in model.pages"
         class="row jga-bg-highlight-on-hover" style="padding: 8px">
        <div class="col-xs-10">
            <a href="#/page/{{page._id}}/widget">
                {{page.name}}
            </a>
        </div>
        <div class="col-xs-2">
            <a  href="#/website/{{model.websiteId}}/page/{{page._id}}"
                class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
