<table class="table table-bordered">
    <thead>
        <tr>
            <% for(var i in widget.datatable.fields) {%>
            <th>
                <%= field %>
            </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% for(var i in widget.datatable.fields) {%>
            <td ng-repeat="field in widget.datatable.fields">

                {{record[field]}}
            </td>
            <% } %>
        </tr>
    </tbody>
</table>