<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand">Widget Edit</a>
        <a ng-click="model.updateWidget(model.widget)"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
    </div>
</nav>

Name
<input ng-model="model.widget.name" class="form-control"/>

Text
<input ng-model="model.widget.text" class="form-control"/>

<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="TEXT">
        Rows
        <input ng-model="model.widget.textInput.rows" class="form-control"/>
        Placeholder
        <input ng-model="model.widget.textInput.placeholder" class="form-control"/>
    </div>
    <div ng-switch-when="HEADER">
        Size
        <select ng-model="model.widget.header.size" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
    </div>
    <div ng-switch-when="IMAGE">
        URL
        <input ng-model="model.widget.image.url" class="form-control"/>
        Width
        <input ng-model="model.widget.image.width" class="form-control"/>
    </div>
    <div ng-switch-when="YOUTUBE">
        URL
        <input ng-model="model.widget.youTube.url" class="form-control"/>
        Width
        <input ng-model="model.widget.youTube.width" class="form-control"/>
    </div>
</div>

<a ng-click="model.removeWidget(widget)" class="btn btn-danger btn-block">
    Delete
</a>

<textarea>
{{model.widget}}
</textarea>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page/{{model.pageId}}/widget" class="navbar-brand">Cancel</a>
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>