<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">

        <a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page/{{model.pageId}}/widget"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">Widget Edit</a>

        <a ng-click="model.updateWidget(model.widget)"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>

Name
<input ng-model="model.widget.name" class="form-control"/>

Text
<input ng-model="model.widget.text" class="form-control"/>

<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="BUTTON">
        Style
        <select ng-model="model.widget.button.style" class="form-control">
            <option>Default</option>
            <option>Primary</option>
            <option>Success</option>
            <option>Info</option>
            <option>Warning</option>
            <option>Danger</option>
        </select>
        <!-- dropdown to select button navigate property -->
        Navigate to page
        <select ng-options="page as page.name for page in model.pages track by page._id"
                ng-model="model.widget.button.navigate" class="form-control">
        </select>

        <!-- choose database action when button is clicked -->
        Action
        <select ng-model="model.widget.button.dbCommand" class="form-control">
            <option>INSERT</option>
            <option>SELECT</option>
            <option>UPDATE</option>
            <option>DELETE</option>
        </select>

    </div>

    <!-- datatable widget collection is name of page, fields is comma separated string -->
    <div ng-switch-when="DATATABLE">

        Collection:
        <select ng-options="page as page.name for page in model.pages track by page._id"
                ng-model="model.widget.datatable.collection" class="form-control">
        </select>

        Fields:
        <input ng-model="model.widget.datatable.fields"
               class="form-control"/>

    </div>
    <div ng-switch-when="LINK">
        URL
        <input ng-model="model.widget.link.url" class="form-control"/>
        Target
        <select ng-model="model.widget.link.target" class="form-control">
            <option>_blank</option>
            <option>_self</option>
            <option>_parent</option>
            <option>_top</option>
        </select>
    </div>
    <div ng-switch-when="HTML">
        HTML
        <!-- use textangular directive to render a WYSIWYG HTML editor -->
        <div text-angular
             ng-model="model.widget.html.text">
        </div>
    </div>
    <div ng-switch-when="TEXT">
        Rows
        <input ng-model="model.widget.textInput.rows" class="form-control"/>
        Placeholder
        <input ng-model="model.widget.textInput.placeholder" class="form-control"/>
        <!-- checkbox to select formatted text -->
        <div class="input-group jga-margin-bottom-5px">
            <input type="text"
                   readonly
                   value="Formatted"
                   class="form-control jga-white-bg"/>
            <span class="input-group-addon">
                <input ng-model="model.widget.textInput.formatted"
                       type="checkbox"/>
            </span>
        </div>
    </div>
    <div ng-switch-when="HEADER">
        Size
        <select ng-model="model.widget.header.size" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
        </select>
    </div>
    <div ng-switch-when="IMAGE">
        URL
        <input ng-model="model.widget.image.url" class="form-control"/>
        Width
        <input ng-model="model.widget.image.width" class="form-control"/>
        Upload
        <form action="/api/upload"
              method="post"
              enctype="multipart/form-data">
            <input name="applicationId" value="{{model.applicationId}}" style="display: none"/>
            <input name="pageId" value="{{model.pageId}}" style="display: none"/>
            <input name="widgetId" value="{{model.widgetId}}" style="display: none"/>
            <input name="width" value="{{model.widget.image.width}}" style="display: none"/>
            <input  type="file" name="myFile" class="form-control"/>
            <button type="submit" class="btn btn-block btn-primary">
                Upload Image
            </button>
        </form>

    </div>
    <div ng-switch-when="YOUTUBE">
        URL
        <input ng-model="model.widget.youTube.url" class="form-control"/>
        Width
        <input ng-model="model.widget.youTube.width" class="form-control"/>
    </div>
</div>

<a ng-click="model.removeWidget(widget)" class="btn btn-danger btn-block">
    Delete
</a>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</nav>