<div class="form-group">
    <label for="stringOperation">Choose kind of operation</label>
    <select name="stringOperation"
            ng-options="operation.label for operation in model.stringOperations track by operation.label"
            ng-model="model.stringOperation"
            class="form-control" id="stringOperation">
        <option value="">Select Operation</option>
    </select>
</div>
<!--Substring Operation-->
<div ng-show="model.stringOperation.label==='Substring'">
    <div class="form-group">
        <label for="stringString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="stringString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="stringStart">Start</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.start" type="text" class="form-control" id="stringStart">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.start = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.start">
        <div class="form-group">
            <label for="stringLength">Length</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.length" type="text" class="form-control" id="stringLength">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.length = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.length">
        <div class="form-group">
            <label for="stringOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="stringOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Concatenate Operation-->
<div ng-show="model.stringOperation.label==='Concatenate'">
    <div class="form-group">
        <label for="stringFirstString">First String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="stringFirstString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="stringSecondString">Second String</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.input2" type="text" class="form-control" id="stringSecondString">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input2 = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input2">
        <div class="form-group">
            <label for="stringConOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="stringConOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Length Operation-->
<div ng-show="model.stringOperation.label==='Length'">
    <div class="form-group">
        <label for="stringLenString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="stringLenString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="stringLenOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="stringLenOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Char At" Operation-->
<div ng-show="model.stringOperation.label==='Char At'">
    <div class="form-group">
        <label for="charString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="charString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="charIndex">Index</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.index" type="text" class="form-control" id="charIndex">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.index = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.index">
        <div class="form-group">
            <label for="charOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="charOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Index Of" Operation-->
<div ng-show="model.stringOperation.label==='Index Of'">
    <div class="form-group">
        <label for="indexString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="indexString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="indexSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control" id="indexSearch">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="indexStart">Start</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.start" type="text" class="form-control" id="indexStart">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.start = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.start">
        <div class="form-group">
            <label for="indexOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="indexOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Last Index Of" Operation-->
<div ng-show="model.stringOperation.label==='Last Index Of'">
    <div class="form-group">
        <label for="lastIndexString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="lastIndexString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="lastIndexSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control" id="lastIndexSearch">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="lastIndexStart">Start</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.start" type="text" class="form-control" id="lastIndexStart">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.start = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.start">
        <div class="form-group">
            <label for="lastIndexOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="lastIndexOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Search" Operation-->
<div ng-show="model.stringOperation.label==='Search'">
    <div class="form-group">
        <label for="lastIndexString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="lastIndexSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="lastIndexOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Replace" Operation-->
<div ng-show="model.stringOperation.label==='Replace'">
    <div class="form-group">
        <label for="replaceString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="replaceString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="replaceSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control" id="replaceSearch">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="replaceReplace">Replace With</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.newvalue" type="text" class="form-control" id="replaceReplace">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.newvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.newvalue">
        <div class="form-group">
            <label for="replaceOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="replaceOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Repeat" Operation-->
<div ng-show="model.stringOperation.label==='Repeat'">
    <div class="form-group">
        <label for="repeatString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="repeatString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="repeatCount">Count</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.count" type="text" class="form-control" id="repeatCount">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.count = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.count">
        <div class="form-group">
            <label for="repeatOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="repeatOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--To Lowercase Operation-->
<div ng-show="model.stringOperation.label==='Lowercase'">
    <div class="form-group">
        <label for="lowerCaseString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="lowerCaseString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="lowerCaseOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="lowerCaseOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--To Uppercase Operation-->
<div ng-show="model.stringOperation.label==='Uppercase'">
    <div class="form-group">
        <label for="upperCaseString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="upperCaseString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="upperCaseOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="upperCaseOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Trim Operation-->
<div ng-show="model.stringOperation.label==='Trim'">
    <div class="form-group">
        <label for="trimString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="trimString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="trimOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="trimOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Starts With" Operation-->
<div ng-show="model.stringOperation.label==='Starts With'">
    <div class="form-group">
        <label for="startString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="startString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="startSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control" id="startSearch">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="startStart">Start</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.start" type="text" class="form-control" id="startStart">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.start = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.start">
        <div class="form-group">
            <label for="startOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="startOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--"Ends With" Operation-->
<div ng-show="model.stringOperation.label==='Ends With'">
    <div class="form-group">
        <label for="endsString">String</label>
        <div class="input-group">
            <input ng-model="model.statement.stringStatement.input1" type="text" class="form-control" id="endsString">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.input1 = widget.name">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.input1">
        <div class="form-group">
            <label for="endsSearch">Search Value</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.searchvalue" type="text" class="form-control" id="endsSearch">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.searchvalue = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.searchvalue">
        <div class="form-group">
            <label for="endsLength">Length</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.length" type="text" class="form-control" id="endsLength">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.length = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="model.statement.stringStatement.length">
        <div class="form-group">
            <label for="endsOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.statement.stringStatement.output" type="text" class="form-control" id="endsOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.stringStatement.output = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>