What operation to do?

<select name="dateOperation"
        ng-options="operation.label for operation in model.dateOperations track by operation.label"
        ng-model="model.statement.dateStatement.dateOperation" class="form-control">
</select>

<div ng-show="model.statement.dateStatement.dateOperation!=undefined &&
(model.statement.dateStatement.dateOperation.label==='Add' || model.statement.dateStatement.dateOperation.label==='Subtract')">

    Select a variable or from calender or per digits

    <div class="input-group">
        <input ng-model="model.statement.dateStatement.dateOperand1"
               type="text"
               class="form-control">
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right wam-left">
                <li ng-click="model.statement.dateStatement.dateOperand1 = 'Per single digit'">
                    <a>Per single digit</a>
                </li>
                <li ng-click="model.statement.dateStatement.dateOperand1 = 'Pick Date'">
                    <a>Pick Date</a>
                </li>
                <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.dateOperand1 = widget.name">
                    <a>{{widget.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="(model.statement.dateStatement.dateOperation.label ==='Create Date from milliseconds')"
     class="alert alert-info">
    Provide milliseconds since January 1, 1970
</div>

<div ng-show="model.statement.dateStatement.dateOperation!=undefined &&
(model.statement.dateStatement.dateOperation.label==='Create Date from String' ||
model.statement.dateStatement.dateOperation.label==='Create Date from milliseconds')">

    Select a variable or provide input

    <div class="input-group">
        <input ng-model="model.statement.dateStatement.dateOperand1"
               type="text"
               class="form-control">
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right wam-left">
                <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.dateOperand1 = widget.name">
                    <a>{{widget.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="model.statement.dateStatement.dateOperation.label==='Create Date by providing each parameter'">
    <div class="row">

        <div class="col-sm-2">
            Year:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Year"
                       type="text"
                       class="form-control"
                       placeholder="Y">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Year = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Month:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Month"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Month = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Day:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Date"
                       type="text"
                       class="form-control"
                       placeholder="D">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Date = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Hours:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Hours"
                       type="text"
                       class="form-control"
                       placeholder="H">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Hours = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Minutes:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Minutes"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Minutes = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Seconds:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Seconds"
                       type="text"
                       class="form-control"
                       placeholder="S">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.operand1Seconds = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Milliseconds:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1MilliSeconds"
                       type="text"
                       class="form-control"
                       placeholder="ms">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.operand1MilliSeconds = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-show="model.statement.dateStatement.dateOperand1==='Pick Date' ||
model.statement.dateStatement.dateOperation.label==='Create Date from selecting in calendar'" class="input-date">
    Pick a date
    <div class="form-group">
        <div class="input-group date" pick-date-time ng-model="model.statement.dateStatement.pickedDate1">
            <input type="string"
                   class="form-control"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div ng-show="(model.statement.dateStatement.dateOperand1==='Per single digit' &&
(model.statement.dateStatement.dateOperation.label==='Add' || model.statement.dateStatement.dateOperation.label==='Subtract'))">
    What Time/Date have to be calculated
    <div class="row">

        <div class="col-sm-2">
            Year:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Year"
                       type="text"
                       class="form-control"
                       placeholder="Y">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Year = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Month:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Month"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Month = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Date:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Date"
                       type="text"
                       class="form-control"
                       placeholder="D">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Date = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Hours:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Hours"
                       type="text"
                       class="form-control"
                       placeholder="H">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Hours = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Minutes:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Minutes"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand1Minutes = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Seconds:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand1Seconds"
                       type="text"
                       class="form-control"
                       placeholder="S">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets"
                            ng-click="model.statement.dateStatement.operand1Seconds = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-show="(model.statement.dateStatement.dateOperand1!=undefined &&
(model.statement.dateStatement.dateOperation.label==='Add' || model.statement.dateStatement.dateOperation.label==='Subtract') &&
model.statement.dateStatement.dateOperand1!='Per single digit' && model.statement.dateStatement.dateOperand1!='Pick Date') ||
(model.statement.dateStatement.dateOperand1==='Pick Date' && model.statement.dateStatement.pickedDate1!='') ||
(model.statement.dateStatement.dateOperand1==='Per single digit' && model.statement.dateStatement.operand1Seconds!=undefined &&
model.statement.dateStatement.operand1Minutes!=undefined && model.statement.dateStatement.operand1Hours!=undefined &&
model.statement.dateStatement.operand1Date!=undefined && model.statement.dateStatement.operand1Month!=undefined &&
model.statement.dateStatement.operand1Year!=undefined)">
    What Days/Time to be
    <span ng-show="model.statement.dateStatement.dateOperation.label ==='Add'">
        Added
    </span>
    <span ng-show="model.statement.dateStatement.dateOperation.label ==='Subtract'">
        Subtracted
    </span>
    <div class="row">

        <div class="col-sm-2">
            Years:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Year"
                       type="text"
                       class="form-control"
                       placeholder="Y">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Year = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Months:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Month"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Month = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Days:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Date"
                       type="text"
                       class="form-control"
                       placeholder="D">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Date = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Hours:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Hours"
                       type="text"
                       class="form-control"
                       placeholder="H">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Hours = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Minutes:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Minutes"
                       type="text"
                       class="form-control"
                       placeholder="M">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Minutes = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            Seconds:
            <div class="input-group">
                <input ng-model="model.statement.dateStatement.operand2Seconds"
                       type="text"
                       class="form-control"
                       placeholder="S">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.operand2Seconds = widget.name">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-show="((model.statement.dateStatement.dateOperation.label==='Add' || model.statement.dateStatement.dateOperation.label==='Subtract') &&
(model.statement.dateStatement.operand2Seconds!=undefined ||
model.statement.dateStatement.operand2Minutes!=undefined || model.statement.dateStatement.operand2Hours!=undefined ||
model.statement.dateStatement.operand2Date!=undefined || model.statement.dateStatement.operand2Month!=undefined ||
model.statement.dateStatement.operand2Year!=undefined))">

    Save the result in
    <div class="input-group">
        <input ng-model="model.statement.dateStatement.resultDateOperation"
               type="text"
               class="form-control">
        <div class="input-group-btn">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right wam-left">
                <li ng-repeat="widget in model.widgets" ng-click="model.statement.dateStatement.resultDateOperation = widget.name">
                    <a>{{widget.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>