<div class="hidden-xs">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
            <label for="numericInput1">Input 1</label>

            <div class="input-group">
                <input ng-model="model.selectedWidget1.input1" type="text" class="form-control" id="numericInput1">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numericOperation">Operation</label>
            <select ng-model="model.statement.numberStatement.operationType"
                    class="form-control" id="numericOperation">
                <option value="">Select Operation</option>
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="x">x</option>
                <option value="/">/</option>
            </select>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numericInput2">Input 2</label>
            <div class="input-group">
                <input ng-model="model.selectedWidget2.input2" type="text" class="form-control" id="numericInput2">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget2 = widget">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="numericOutput">Output</label>
            <div class="input-group">
                <input ng-model="model.selectedWidget2.input2" type="text" class="form-control" id="numericOutput">
                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right wam-left">
                        <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget2 = widget">
                            <a>{{widget.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
        </div>
    </div>
</div>


<div class="hidden-md">
<div class="row">
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="pull-right" style="position: relative;top:-35px;left:20px">=</span>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <select ng-model="model.statement.numberStatement.operationType"
                class="form-control">
            <option value="">Select Operation</option>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="x">x</option>
            <option value="/">/</option>
        </select>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <input ng-model="model.selectedWidget1.input1" type="text" class="form-control">
            <div class="input-group-btn">
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right wam-left">
                    <li ng-repeat="widget in model.widgets" ng-click="model.selectedWidget1 = widget">
                        <a>{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>