<nav class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">

        <a href="#/developer/{{model.developerId}}/website"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>

        <a class="navbar-brand">{{model.website.name}} - Edit Website</a>

        <a ng-click="model.updateWebsite (model.website)"
           class="btn btn-default btn-transparent pull-right">
            <span class="glyphicon glyphicon-ok"></span>
        </a>

    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>

Website Name
<input ng-model="model.website.name"
       class="form-control"
       placeholder="Name"/>

Website Description
<textarea ng-model="model.website.description"
          rows="5"
       class="form-control"
       placeholder="Description"></textarea>

<button ng-click="model.removeWebsite(model.website)"
        class="btn btn-danger btn-block">
    Delete
</button>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a href="#/developer/{{currentUser.username}}/edit"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>

        <a href="#/developer/{{currentUser.username}}/website/{{model.websiteId}}/share"
           class="btn btn-default btn-transparent pull-left">
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </div>
</nav>
