<div class="navbar navbar-default navbar-fixed-top jga">
    <div class="navbar-header">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li class="link-nav back"><a href="#/developer/{{model.developerId}}/website"
                                            class="btn btn-default btn-transparent">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a></li>

                    <li class="link-nav name">
                        <a class="navbar-brand">Webs</a>
                    </li>

                    <li class="link-nav plus">
                        <a href="#/developer/{{model.developerId}}/website/new"
                           class="btn btn-default btn-transparent">
                        <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>


                </ul>
            </div>
        <div class="col-sm-8">
            <ul>


                <li class="link-nav"><a class="navbar-brand">Edit Website</a></li>

                <li class="link-nav">
                    <a ng-click="model.updateWebsite (model.website)"
                       class="btn btn-default btn-transparent">
                    <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div ng-if="model.error"
             class="alert alert-danger"
             role="alert">
            {{model.error}}
        </div>

        <div>
            <div ng-repeat="website in model.websites"
                 class="row jga-bg-highlight-on-hover" style="padding: 8px">
                <div class="col-xs-10">
                    <a href="#/developer/{{model.developerId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <!--<a href="#/developer/{{model.developerId}}/website/{{website._id}}/page/{{website.pages[0]._id}}/run"-->
                <!--class="pull-right">-->
                <!--<span class="glyphicon glyphicon-play"></span>-->
                <!--</a>-->
                <div class="customPadding col-xs-1">
                    <a href="#/developer/{{model.developerId}}/website/{{website._id}}"
                       class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-8">
        <div class="form-group">
            <label for="websiteName">Website Name</label>
            <input ng-model="model.website.name"
                   class="form-control"
                   id="websiteName"
                   placeholder="Name"
                   type="text" />
        </div>

        <div class="form-group">
            <label for="websiteDescription">Website Description</label>
<textarea ng-model="model.website.description"
          rows="5"
          id="websiteDescription"
          class="form-control"
          placeholder="Description"></textarea>
        </div>

        <button ng-click="model.removeWebsite(model.website)"
                class="btn btn-danger btn-block">
            Delete
        </button>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jga">
    <div class="navbar-header">
        <a href="#/developer/{{model.developerId}}"
           class="navbar-toggle collapsed">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
