<nav class="navbar navbar-default navbar-fixed-top">
   <div class="navbar-header">

      <a class="navbar-brand">Profile</a>

      <button ng-click="model.updateDeveloper (model.developer)"
              class="btn btn-default btn-transparent pull-right">
         <span class="glyphicon glyphicon-ok"></span>
      </button>
   </div>
</nav>

<div ng-if="model.error" class="alert alert-success" role="alert">
   {{model.error}}
</div>

Usename
<input ng-model="model.developer.username"
       class="form-control"
       placeholder="username"/>

Email
<input ng-model="model.developer.email"
       class="form-control"
       placeholder="email"/>

First Name
<input ng-model="model.developer.firstName"
       class="form-control"
       placeholder="First Name"/>

Last Name
<input ng-model="model.developer.lastName"
       class="form-control"
       placeholder="Last Name"/>

<a href="#/developer/{{model.developer.username}}/application"
        class="btn btn-primary btn-block">
   Applications
</a>

<!--<button ng-click="model.deleteDeveloper(model.developer)"-->
        <!--class="btn btn-danger btn-block">-->
   <!--Unregister-->
<!--</button>-->

<button ng-click="main.logout(model.developer)"
        class="btn btn-danger btn-block">
   Logout
</button>

<nav class="navbar navbar-default navbar-fixed-bottom">
   <div class="navbar-header">
      <a href="#/developer/{{model.developer.username}}/edit"
              class="navbar-toggle collapsed">
         <span class="glyphicon glyphicon-user"></span>
      </a>
   </div>
</nav>
